<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
       <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/coursedb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>   
        
        <mapping class="com.hokumus.course.management.model.kullanici.Users"/>
        <mapping class="com.hokumus.course.management.model.yonetim.Kurs"/>
        <mapping class="com.hokumus.course.management.model.yonetim.Grup"/>
        <mapping class="com.hokumus.course.management.model.ik.Ogretmen"/>
        <mapping class="com.hokumus.course.management.model.yonetim.Salon"/> 
        <mapping class="com.hokumus.course.management.model.yonetim.Productivity"/>
        
        
       
    </session-factory>
</hibernate-configuration>
